/* Elements */

iframe{
    max-width: 100%;
}

h1{
    color: #444444;
}

p{
  font-family: "cabin_sketchregular", "New Times Roman", sans-serif;
  text-align: justify;
}
/* Classes */

.navbar{
    background-color: rgba(255, 255, 255, 1);
    height: 100px;
}

.nav-item{
    display: inline;
    padding-right: 15px;
}

.nav-link{
    font-family: "cabin_sketchregular", "New Times Roman", sans-serif;
    font-size: 14px;
}

.row > #foot{
    padding: 5px;
    text-align: center;
}

.navbar-brand{
    transform: translateX(-50%);
    left: 50%;
    position: absolute;
}

.navbar-brand img{
    height: 90px;
}

.navbar-nav{
     margin-right: 10px;
}

.merch{
    padding: 5px;
}

.btn-light, .btn-light:hover, .btn-light:active, .btn-light:visited{
    background-color: #3a525f !important;
    color: #c7b976 !important;
}

.merch h3{
    font-family: "cabin_sketchregular", "New Times Roman", sans-serif;
    padding: 5px;
}

.menusection{
    margin: 10px;
}

.merch{
    margin: 20px 20px;
}

.aboutus{
    margin: 20px;
    margin-top: 50px;
}

/* ID's */
#mainpic{
    margin-top: 100px;
}


#aboutus p{
  font-family: "cabin_sketchregular", "New Times Roman", sans-serif;
  text-align: justify;
}

#site-footer{
    background-color: #3a525f;
    color: #c7b976;
}

#site-footer h3{
    font-family: "cabin_sketchregular", "New Times Roman", sans-serif;
}

#site-footer p{
  text-align: center;
}

#socialmedia{
    display: flex;
    width: 50px;
    margin-left: 35px;
    padding: 2px;
    justify-content: space-around;
}



/* FONTS */

@font-face {
    font-family: 'gistesyregular';
    src: url(/static/fonts/webfontkit-20220321-042007/gistesy-webfont.woff2) format('woff2'),
    url(/static/fonts/webfontkit-20220321-042007/gistesy-webfont.woff) format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'cabin_sketchregular';
    src: url(/static/fonts/webfontkit-20220321-042007/cabinsketch-regular-webfont.woff2) format('woff2'),
         url(/static/fonts/webfontkit-20220321-042007/cabinsketch-regular-webfont.woff) format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'cabinsketchbold';
    src: url(/static/fonts/webfontkit-20220321-042007/cabinsketch-bold-webfont.woff2) format('woff2'),
         url(/static/fonts/webfontkit-20220321-042007/cabinsketch-bold-webfont.woff) format('woff');
    font-weight: normal;
    font-style: normal;

}